@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:wght@400;700&family=Lato:wght@400;700;900&family=Yeseva+One&display=swap');
/*

font-family: 'Gentium Book Basic', serif;
font-family: 'Lato', sans-serif;
font-family: 'Yeseva One', cursive;


*/
*{
	padding: 0;
	margin: 0;
	outline: 0;
	box-sizing: border-box;
	text-decoration: none
}
body{
	overflow-x: hidden;
}
ul,ol,li {
	list-style: none;
	padding: 0;
}

/*font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;*/

#banner{
	background: url(../images/banner_bg.jpg) center center;
	background-size: cover;
	position: relative;
	margin-bottom: 130px;
}
.logoimg{
	color: white;
	padding-top: 55px;
}
.banner_text{
	color: white;
	margin: 350px 0 370px 0;
}
.banner_text h1{
	font-family: 'Lato', sans-serif;
	margin-bottom: 30px;

}
.iphone{
	position: absolute;
	margin-top: 180px;
}

/*content part css start*/

.content_left h1{
	padding-bottom: 22px;
}
.content_left p{
	padding-bottom: 22px;
}
.content_ritht_p p{
	padding-top: 183px;
	padding-bottom: 22px;
}


/*content part css end*/

/*box part css start*/


.showcase{
	margin-bottom: 25px;
}
.back{
    background-color: #f5989d;
   padding:50px 50px;
   height:300px;
}
.back2{
    background-color: #615f7d;
    height:300px;
}

.back3{
    background-image: url('../images/third.jpg');
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    height:300px;
}

.back4{
    background-image: url('../images/forth.jpg');
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    height:300px;
}
.back5{
    background-color: #82ca9c;
    height:300px;
}
.back-con h2{

	color: 	white;
	font-family: 'Gentium Book Basic', serif;

}
.back-con p{

	color: 	white;
	font-family: 'Lato', sans-serif;

}
.back-con a{
    font-size:13px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    color:white;
    text-decoration: none;

}
 .fa-arrow-right-long{
 	padding: 0 20px;
 }


/*box part css end*/


/*details part css start*/

#details{
	margin: 100px 0 160px;
}
#details h1{
	margin-bottom: 35px;
}
.details_main{
	display: flex;
}
 .details-con h3{
 	margin-top: 20px;
 	font-family: 'Yeseva One', cursive;
 	color: grey;
 
 	font-size: 15px;

 }
  .details-con span{
  	text-align: justify;
  	margin-top: 5px;
  	color: grey;
  }
  /*details part css end*/

  /*power part css start*/

  #power{
  	background: url(../images/power.jpg) center ;
  	height: 870px;
  }

  /*power part css end*/

  /*reason part css start*/

  #reason{
  	background-color: #82ca9c;
  	padding: 130px 0;
  }

  #reason h1{
  	font-family: 'Open Sans', sans-serif;
  	color: white;
  	font-size: 35px;
  	margin-bottom: 70px;
  }
  .reason{
  	color: white;
  	font-family: 'Open Sans', sans-serif;
  }
  .reason h2{
  	font-size: 18px;
  	font-family: 'Open Sans', sans-serif;
  	font-weight: 600px;
  	margin-bottom: 30px;
  }
  .reason p{
  	font-size: 15px;
  	font-family: 'Open Sans', sans-serif;
  }

  /*reason part css end*/

  /*buy part css start*/

  #buy{
     padding: 100px 0 150px;
     background-color: #f6f7fa;
  }
 .sub_first_line{
 	margin-top: 50px;
 }
 .first_line h1{
 	color: white;
 	width: 80px;
 	background-color:#e1e1e1;
 	color: white;
 	font-family: 'Open Sans', sans-serif;
 	font-weight: 800px;
 	font-size: 11px;
 	padding: 10px 20px;
 	border-radius: 5px;
 }
  .first_line h2{
  	font-size: 30px;
  	color: black;
  	font-family: 'Open Sans', sans-serif;
  	margin: 25px 0 30px;
  }
  .first_line p{
  	font-size: 14px;
  	font-family: 'Open Sans', sans-serif;
  	margin-bottom: 30px;
  }
  .first_line h3{
  	color: white;
  	font-size: 14px;
  	width: 150px;
  	font-family: 'Open Sans', sans-serif;
  	font-weight: 600px;
  	padding: 20px 35px;
  	background-color: #82ca9c;
  	border-radius: 5px;
  	margin-bottom: 15px;
  }
  .first_line ul li a{
  	font-size: 30px;
  	color: #c5c5c5;
  	margin-right: 10px;
  }
  .white_part{
  	background-color: white;
  	padding: 50px;
  }
  .popular h1{
  	background-color:#bd8cbf;
  	width: 125px;
  }
  .popular h3{
  	width: 156px;
  }


  /*buy part css end*/

  /*footer part css start*/

  #footer_id{
  	background-color: #192431;
  	padding: 130px 315px 155px;
  }
  .touch h1{
  	color: white;
  	font-size: 15px;
  	font-family: 'Open Sans', sans-serif;
  	margin-bottom: 40px;
  }
  .touch p{
  	color: white;
  	font-size: 13px;
  	font-family: 'Open Sans', sans-serif;
  }
  .touch2 p{
  	line-height: 15px;
  }
  .touch2 h1{
  	padding-top: 70px;
  }
  .sign_form input{
  	width: 400px;
  	height: 60px;
  }
  .done_icon{
  	background-color: #82ca9c;
  	
  	display: block;
  }
  .done_icon ul li a {
  	color: white;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	font-size: 40px;
  	text-decoration: none;
  }
  .touch3 p{
  	color:#57697f;
  	margin-top: 40px;
  }

  /*footer part css end*/